Hyperlink:visited, Hyperlink:armed{
    -fx-border-width: 0;
}

Text, TextField, PasswordField, Label, Button, CheckBox, Hyperlink{
    -fx-font-family: Rubik;
    -fx-font-weight: normal;
    -fx-font-size: 15;
}

Button{
    -fx-font-size: 13;
}

.bold{
    -fx-font-weight: bold;
}

.headline{
    -fx-font-size: 22;
}

